<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a href="/" type="button" class="btn-close m-2 ms-0"></a>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center">
        <strong>Date:</strong> <%= report.date %><br>
        <strong>Update:</strong> <%= report.update %><br>
        <strong>Total Trades:</strong> <%= report.statistics.total_trades %><br>
        <strong>Successful Trades:</strong> <%= report.statistics.successful_trades %><br>
        <strong>Failed Trades:</strong> <%= report.statistics.failed_trades %><br>
        <strong>Notes:</strong> <%= report.notes %><br>
        <strong>Notes:</strong> <%= report.notes %><br>
        <strong>Notes:</strong> <%= report.notes %><br>
        <strong>Notes:</strong> <%= report.notes %><br>
        <strong>Notes:</strong> <%= report.notes %><br>
        <strong>Notes:</strong> <%= report.notes %><br>
    </div>
  </div>
</div>
<%- include("./partials/footer.ejs") %>