<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
  <div class="container-fluid mt-2">
    <% if (locals.rows && locals.rows.length === 0) { %>
      <!-- Action 1: If there are no rows -->
      <h6>No results found. Please enter a proper search keyword. </h6>
    <% } else if (locals.rows && locals.rows.length === 1) { %>
      <!-- Action 2: If there is exactly one row -->
      <a href="/images/<%= locals.rows[0].Code %>"><img class="img-fluid" src="/data/<%= locals.rows[0].Code %>.png" alt=""></a>
    <% } else if (locals.rows && locals.rows.length > 1) { %>
      <!-- Action 3: If there are more than one row -->
      <ul>
        <% locals.rows.forEach((row, index) => { %>
          <li>
            <form id="code_list_<%= index %>" action="/" method="POST">
              <input hidden name="search_input" value="<%= row.Code %>">
            </form>
            <a class="text-decoration-none text-dark" onclick="submitForm(event, '<%= index %>')" href="#"><%= row.Name %></a> <font class="text-muted">(<%= row.Code %>)</font></a>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <!-- Default action if locals.rows is undefined or null -->
      <h6>Please enter a search keyword - name or code.</h6>
    <% } %>
  </div>
  
  <pre class='m-2 p-1 text-muted' id="updateDateTime"></pre>

  <script>
    function submitForm(event, index) {
      event.preventDefault()
      document.getElementById("code_list_"+index).submit();
    }

    fetch('/update_info.txt')
      .then(response => response.text())
      .then(content => {
        document.getElementById('updateDateTime').innerText = content;
      })
      .catch(error => console.error('Error fetching file:', error));
  </script>
      
<%- include("./partials/footer.ejs") %>
