<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
  
  <div class="container-fluid mt-2">
    <% if(locals.code){ %>
    <a href="/images/<%= code %>"><img class="img-fluid" src="<%= code %>.png" alt=""></a>
    <% } else{ %>  
    <h6>enter a proper code</h5>
    <% } %>
  </div>
      
<%- include("./partials/footer.ejs") %>